<aside class="menu">
  <p class="menu-label">
    Home
  </p>
  <ul class="menu-list">
    <li><a href="/catalog">Home</a></li>
  </ul>
  <p class="menu-label">
    Read
  </p>
  <ul class="menu-list">
    <li><a href="/catalog/books">All books</a></li>
    <li><a href="/catalog/authors">All authors</a></li>
    <li><a href="/catalog/genres">All genres</a></li>
    <li><a href="/catalog/bookinstances">All book-instancecs</a></li>
  </ul>
  <p class="menu-label">
    Create
  </p>
  <ul class="menu-list">
    <li><a href="/catalog/author/create">Create a new author</a></li>
    <li><a href="/catalog/book/create">Create a new book</a></li>
    <li><a href="/catalog/genre/create">Create a new genre</a></li>
    <li>
      <a href="/catalog/bookinstance/create">Create a new book instance (copy)</a>
    </li>
  </ul>
</aside>
