<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bug hai bhai</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <%- include('sidebar') %>
    </div>
    <hr />
    <div>
      <%- body %>
    </div>
  </body>
</html>
