<aside>
  <h2>Exercise 4: Node.js</h2>
  <p>e-lite round 2 webd</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dweet">Dweet</a></li>
  </ul>
  <p>
    Some routes to
  </p>
  <ul>
    <li><a href="/dweet/create">create a new dweet</a></li>
    <li><a href="/dweets">show all dweets</a></li>
  </ul>
  <p>
    go into a dweet detail page to find <code>update</code> and
    <code>delete</code> operations
  </p>
</aside>
